@page
@model WebApplication2.Pages.Readers.DeleteModel

@{
    ViewData["Title"] = "Удаление Читателя";
}

<h1>Удаление читателя</h1>

<h3>Вы уверены, что хотите это сделать?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdBdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdBdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdPassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdPassportData)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reader.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
