@page
@model WebApplication2.Pages.Readers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reader</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdBdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdBdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.RdPassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.RdPassportData)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reader.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
