@page
@model WebApplication2.Pages.Readers.IndexModel

@{
    ViewData["Title"] = "Читатели";
}

<h1>Список читателей</h1>

<p>
    <a asp-page="Create">Создать нового читателя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdBdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader[0].RdPassportData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reader) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RdFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RdBdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RdSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RdAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RdPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RdPassportData)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
