@page
@model WebApplication2.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Подробности о Книге";
}

<h1>Подробнее о кинге</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BkName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BkName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BkAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BkAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BkRealiseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BkRealiseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Gen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Gen.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Pub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Pub.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
