@page
@model WebApplication2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Книги";
}

<h1>Книги</h1>

<p>
    <a asp-page="Create">Создать новую книгу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BkAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BkRealiseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Pub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkRealiseDate)
            </td>
            <td>
                @try
                {
                @Model.Genre.First(r => r.ID == item.GenreId).GenName
                }
                catch
                {
                @Html.DisplayFor(modelItem => item.Gen.ID)
                }
            </td>
            <td>
                @try
                {
                    @Model.Publisher.First(r => r.ID == item.PublisherID).PubName
                }
                catch
                {
                @Html.DisplayFor(modelItem => item.Pub.ID)
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
