@page
@model WebApplication2.Pages.Positions.DeleteModel

@{
    ViewData["Title"] = "Удаление Позиции";
}

<h1>Удаление позицию</h1>

<h3>Вы уверены, что хотите это сделать?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosDuties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosDuties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosRequirements)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Position.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
