@page
@model WebApplication2.Pages.Positions.DetailsModel

@{
    ViewData["Title"] = "Подробности о Должности";
}

<h1>Подробнее о должности</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosDuties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosDuties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.PosRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PosRequirements)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Position.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
