@page
@model WebApplication2.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Удаление Рабочего";
}

<h1>Удаление рабочего</h1>

<h3>Вы уверены, что хотите это сделать?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpPassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpPassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Pos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Pos.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
