@page
@model WebApplication2.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Подробности о Рабочем";
}

<h1>Подробности о рабочем</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmpPassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpPassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Pos)
        </dt>
        <dd class="col-sm-10">
            @try
            {
                @Html.DisplayFor(model => model.Position.PosName)
            }
            catch
            {
                @Html.DisplayFor(model => model.Employee.Pos.ID)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
