@page
@model WebApplication2.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Рабочие";
}

<h1>Список рабочих</h1>

<p>
    <a asp-page="Create">Создать нового рабочего</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpPassportData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Pos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPassportData)
            </td>
            <td>
                @try
                {
                    @Model.Position.First(r => r.ID == item.PosID).PosName
                }
                catch 
                { 
                @Html.DisplayFor(modelItem => item.Pos.ID)
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
