@page
@model WebApplication2.Pages.FilReq.Fil.AuthorFilModel
@{
}
<h1>@Model.Book.BkAuthor</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BkName)
                </td>
                <td>
                    @try
                    {
                        @Model.Genre.First(r => r.ID == Model.Book.GenreId).GenName
                    }
                    catch
                    {
                        @Html.DisplayFor(modelItem => Model.Book.GenreId)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>