@page
@model WebApplication2.Pages.FilReq.Fil.YearFilModel
@{
}
<h1>@Model.Book.BkRealiseDate</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Pub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BkName)
                </td>
                <td>
                    @try
                    {
                        @Model.Genre.First(r => r.ID == item.GenreId).GenName
                    }
                    catch
                    {
                        @Html.DisplayFor(modelItem => item.Gen.ID)
                    }
                </td>
                <td>
                    @try
                    {
                        @Model.Publisher.First(r => r.ID == item.PublisherID).PubName
                    }
                    catch
                    {
                        @Html.DisplayFor(modelItem => item.Pub.ID)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>