@page
@model WebApplication2.Pages.ReturnedBooks.DetailsModel

@{
    ViewData["Title"] = "Подробности о Возвращённой книге";
}

<h1>Подробности о возвращённой книге</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.RbReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnedBook.RbReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.RbGiveOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnedBook.RbGiveOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.RbReturnFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnedBook.RbReturnFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.Bk)
        </dt>
        <dd class="col-sm-10">
            @try
            {
                @Html.DisplayFor(model => model.Book.BkName)
            }
            catch
            {
                @Html.DisplayFor(model => model.ReturnedBook.Bk.ID)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.Emp)
        </dt>
        <dd class="col-sm-10">
            @try
            {
                @Html.DisplayFor(model => model.Employee.EmpFullName)
            }
            catch
            {
                @Html.DisplayFor(model => model.ReturnedBook.Emp.ID)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedBook.Rd)
        </dt>
        <dd class="col-sm-10">
            @try
            {
                @Html.DisplayFor(model => model.Reader.RdFullName)
            }
            catch
            {
                @Html.DisplayFor(model => model.ReturnedBook.Rd.ID)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReturnedBook.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
