@page
@model WebApplication2.Pages.Genres.DetailsModel

@{
    ViewData["Title"] = "Подробности о Жанре";
}

<h1>Подробности о жанре</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.GenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.GenDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Genre.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
