@page
@model WebApplication2.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Жанры";
}

<h1>Список жанров</h1>

<p>
    <a asp-page="Create">Создать новый жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].GenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].GenDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
