@page
@model WebApplication2.Pages.Publishers.DeleteModel

@{
    ViewData["Title"] = "Удаление Издателя";
}

<h1>Удаление издателя</h1>

<h3>Вы уверены, что хотите это сделать?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.PubName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.PubCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PubCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.PubAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PubAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Publisher.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
