@page
@model WebApplication2.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Издатели";
}

<h1>Список издателей</h1>

<p>
    <a asp-page="Create">Создать нового издателя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].PubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].PubCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].PubAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publisher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
